<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Good Design</h1>
    <p class="lead text-muted">Design is not just about making an attractive and navigable website. Understanding the end user and how they interact with your product is crucial to the creation of enjoyable web applications.</p>
    <!--<p>-->
    <!--  <a href="#" class="btn btn-primary">Main call to action</a>-->
    <!--  <a href="#" class="btn btn-secondary">Secondary action</a>-->
    <!--</p>-->
  </div>
</section>