<h1>About</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <img src="me.jpg" class="about-photo" alt="Profile Image">
    </div>
    <div class="col-md-12">
      <p>With over a decade of experience as a tech leader I have had the opportunity to work with and learn from many great people in my career. Now it's time to get back to what I love &#8212 engineering. The development of web applications is my passion, and I am taking a few steps back to learn current technologies and start again as a software developer.
      </p>
    </div>
  </div>
</div>