<div class="inner cover">
  <h1 class="cover-heading">Welcome to my portfolio site.</h1>
  <p class="lead"><i>We can only see a short distance ahead,<br>but we can see plenty there that needs to be done.</i><br>&#8212 Alan Turing</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>