<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109228291-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109228291-1');
</script>

    <title>Yelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'yelp', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'yelp', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
